<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">Klasse: </td>
<td class="template-token cell c1 lastcol" style="">[[Klasse]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Kurs: </td>
<td class="template-token cell c1 lastcol" style="">[[Kurs]]</td>
</tr>
</tbody>
</table>
</div>