h3#headerNames  {
	text-align: center;
	display: block;
	font-size: 5.0em;
 }

#stopButton  {
	display: none;
 }

.buttons  {
	text-align: center;
 }

#teams {
  font-size: 16px;
    display: flex;
    gap: 10px;
   padding: 5px;
    flex-wrap: wrap;
justify-content: flex-start;
    align-items: stretch;
    align-content: space-between;
}

#teams p {
    max-width: 300px;
    border: solid 1px #000;
padding: 2px;
font-size: 1.2rem;
width: 300px;
white-space: pre;
}

.headteam {

}

/* Style für Druck  */
@media print {
  /* Not displayed in print version. */
  #page-header,
.pull-up,
.topbar,
.bycs-header,
details,
summary,
.dropdown,
  #page-footer,
  .intro,
h2,
  .nav-tabs,
  .datapreferences,
  .btn-secondary,
  i.icon,
  .comment-area,
  .pagination,
  input,
  .activity-navigation,
  .activity-information,
  .fixed-top,
  .container,
.footer,
.mdl-left,
.button,
hr,
  .mbsmenubar,
  .top-bar,
  #me-wrapper,
  .body img,
  #mbsmenubar,
  #mebis-footer,
#menu-sidebar-menu,
.btn,
.text,
.btn-primary,
#headerNames h3,
#headerNames, 
h3,
.name,
.alert
 {
    display: none;
    background: none;
  }
#teams {
position: absolute;
top: 10px;
}
}