<script>
            // Run once per session.
            if ((typeof sessionStorage !== 'undefined') &&
                (sessionStorage.getItem('ChangeEntriesReload') === null)) {

                // Set url for 1000 entries per site.
                const params = new URLSearchParams(location.search);
                params.set('perpage', 1000);
                window.history.replaceState({}, '', `${location.pathname}?${params}`);
                // Reload page.
                window.location.reload();

                console.log('ok');

                sessionStorage.setItem('ChangeEntriesReload', true);
            }
        </script>
<details><summary><form><i>Namen anzeigen/eingeben:</i></summary>
<textarea type="text" class="form-control" name="players" id="players" rows="3">