</textarea>
</form></details><br>
<script>
let namesList;
function takeInputValue()
{
namesList = document.getElementById('players').value.split('\,').filter(Boolean);
}
</script><hr><div class="name">
<h2 class="alert-light">Zufallsname</h2>
<button type="button" class="btn btn-primary" id="startButton" onclick="takeInputValue();startFunction()" data-toggle="modal" data-target="#myModal">Start</button><button type="button" class="btn btn-primary" id="stopButton">Runde läuft... </button>
<script>
function startFunction() {
let duration = namesList.length*250;
console.log(duration);
let min = 1000;
let max = duration+min;
let seconds = (Math.random() * (max - min)) + min;
window.setTimeout(function() {document.getElementById("stopButton").click();}, seconds);
}
</script>


<h3 id="headerNames"></h3>
</div>

<script>
	"use strict"; // Default variables
let i =  0;
let x =  0;
let intervalHandle =  null;
const startButton =  document.getElementById('startButton');
const stopButton =  document.getElementById('stopButton');
const headerOne =  document.getElementById('headerNames'); // Start or stop the name shuffle on the button click
startButton.addEventListener('click',  function() {
    this.style.display =  "none";
    stopButton.style.display =  "inline";
    intervalHandle =  setInterval(function () {
        headerNames.textContent =  namesList[i++ %  namesList.length];
    },
     25);
});
stopButton.addEventListener('click',  function() {
    this.style.display =  "none";
    startButton.style.display =  "inline";
    clearInterval(intervalHandle);
});
</script>
<hr>

<h2 class="alert-light">Zufallsgruppen</h2></summary><input id="generate" type="button" class="btn btn-primary" value="Start" onclick="generateTeams()"></input><span class="text"> Maximale Gruppengröße </span><input type="number" id="num-teams" value="4" size="2"></input>
<div id="teams">
<hr>