<div class="defaulttemplate"><table class="mod-data-default-template ##approvalstatusclass##">
<tbody><tr class="">
<td class="template-field cell c0" style="">Klasse: </td>
<td class="template-token cell c1 lastcol" style="">[[Klasse]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Name: </td>
<td class="template-token cell c1 lastcol" style="">[[Name]]</td>
</tr>
<tr class="">
<td class="template-field cell c0" style="">Kurs: </td>
<td class="template-token cell c1 lastcol" style="">[[Kurs]]</td>
</tr>
<tr class="lastrow">
<td class="controls template-field cell c0 lastcol" style="" colspan="2">##edit##  ##delete##  ##approve##  ##disapprove##  ##export##</td>
</tr>
</tbody>
</table>
</div>